.formContainer{
    width: 500px;
    background-color: rgb(218, 206, 191);
    margin: auto;
    /* height: 70vh; */
    margin-top: 200px;
    margin-bottom: 300px;
    border-radius: 10px;
    box-shadow: 0px 6px 8px 3px rgba(88, 87, 87, 0.6);
}
.newOrderTitle{
    font-size: 32px;
    font-family: 'Lora', serif;
    color: #6d534f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

label, input{
    display: flex;
    flex-direction: column;
    height: 90px;
    border-radius: 4px;
    border: 1px solid #6d534f; 
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
    font-size: 18px;
    color: #6d534f;
    text-align: center;
}
select{
    height: 40px;
    margin-top: 10px;
    text-align: center;
    font-family: 'Lora', serif;
    color: #7B5F5B;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid #6d534f; 
}
.inputs{
    padding: 10px;
    font-family: 'Lora', serif;
    font-size: 20px;
    color: #7B5F5B;
}

.newOrderButton{
    width: 100%;
    height: 60px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Lora', serif;
    color: wheat;
    background-color: #7B5F5B;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px;
}

.newOrderButton:hover{
    background-color: #6e423a;
    color: white;
}
.radioButtonArea{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.radioButtonArea label{
    margin-right: 40px;
    font-size: 25px;
}
.radioButtonArea label input{
    font-size: 20px;
}
input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    border-style: none;
    margin-left: 25px;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.newOrderSubTitle{
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}

input[type="radio"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
    background-color: #6e423a;
}
.messageAida{
    border-radius: 5px;
    height: 60px;
    font-size: 20px;
    font-family: 'Lora', serif;
    color: #7B5F5B;
}
.messageLabel{
    border-top: 1px solid white;
    padding-top: 25px;
}

  
