.gridContainer img{
    width: 250px;
    margin: 50px;
    box-shadow: 0px 6px 8px 3px rgba(88, 87, 87, 0.6);
    

}
.galleryTitle{
    font-family: 'Mali', cursive;
    color: rgb(88, 69, 69);
    font-size: 60px;
    padding-top: 80px;
    padding-bottom: 50px;
}