.heroContainer{
    background-image: url(../images/heroPic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80px;
    margin-top: 0;
    overflow: hidden;
}
.header{
    position: sticky;
    top: 0;
}
.navbar{
    width: 100%;
    background-color: rgb(88, 69, 69);
   
    /* height: 42px; */
    box-shadow: 0px 6px 8px 3px rgba(88, 87, 87, 0.6);
}

.tagLines{
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.tagLines h2{
    padding: 0 8% 0 8%;
    font-family: 'Pinyon Script', cursive;
    font-size: 50px;
    color: #a09d98;
}
.tagLines h2:first-child, .tagLines h2:last-child{
    padding-top: 8px;
}