.presentationSection{
    width: 70%;
    height: 100%;
    margin: auto;
    background-image: linear-gradient(to bottom right,  white, rgba(194, 157, 157, 0.6));
    text-align: center;
}
.titlePic{
    padding-top: 30px;
}
.line{
    width: 85%;
    border-bottom: 2.5px solid rgba(168, 135, 135, 0.6);
    margin: 0 auto;
    margin-top: 50px;
}

.profileSection{
    
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.profileSection img{
    width: 400px;
    height: 480px;
    margin-top: 100px;
    margin-left: 30px;
}
.profileText{
    padding-left: 120px;
    margin-right: 20px;
    width: 700px;
}
.profileText h2{
    font-size: 70px;
    font-family: 'Pinyon Script', cursive;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(88, 69, 69);
}
.profileText p{
    padding-bottom: 20px;
    color: rgb(44, 39, 39);
    font-family: 'Mali', cursive;
    font-size: 20px;
    letter-spacing: 1px;
    text-shadow: .5px .5px 1px rgb(77, 72, 72);
}

/* Here i´m styling picture part of the homepage*/

.pitruresSection{
    padding: 100px 0 200px 0;
}
.pitruresSection img{
    width: 200px;
    box-shadow: 0px 6px 8px 3px rgba(88, 87, 87, 0.6);
    /* padding: 0 10px 0 10px; */
    
}

.pitruresSection img:first-child{
    margin-right: -10px;
    margin-bottom: -100px;
    
}

.pitruresSection img:nth-child(3){
    margin-left: 40px;
    margin-right: -10px;
    z-index: 1;
    
}
.pitruresSection img:nth-child(4){
    
    margin-bottom: -100px;
}
.buttonArea{
    padding-bottom: 200px;
}
.undertitleProfil{
    font-size: 40px;
    font-family: 'Mali', cursive;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(88, 69, 69);
}


/* Here i´m styling responsivnes*/

@media screen and (max-width: 1600px){
    .presentationSection{
        width: 100%;
    }
    .profileSection img{
        margin-left: 20px;
    }
}

@media screen and (max-width: 1200px){
    .profileSection{
        flex-direction: column;

    }
    .profileSection img{
        margin: auto;
        width: 400px;
        height: 480px;
        margin-bottom: 80px;
    }
    .profileText{
        padding: 0 20px 0 20px;
        margin: 0;
        width: 90%;
        text-align: center;
    }
}