.navbar{
    padding: 0;
}
.navContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navContainer ul{
    margin-top: 10px;
    margin-bottom: 10px;
}
.navContainer ul a{
    text-decoration: none;
    color: #E8DEC6;
    /* margin: 0 20px 0 20px; */
    font-size: 16px;
    font-family: 'Lora', serif;
}
.navContainer ul a:hover{
    color: white;
}
.link{
    padding: 10px 60px 10px 60px; 
    border-left: 1px solid  #ac8980; 
    transition: all 0.3s ease-out;
}
.link:first-child{
    display: none;
}
.link:last-child{
    border-right: 1px solid  #ac8980
}

.link:visited{
    background-color: #ac8980;
}
.link:focus{
    background-color: #ac8980;
}
.link:hover{
    background-color: #ac8980;
}
.link:active{
    background-color: #ac8980;
}
