@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&family=Spartan:wght@100&display=swap');

.mainTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
}
.welcomeSection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.welcomeButton{
    width: 200px;
    height: 60px;
    background-color: #7B5F5B;
    color: #E8DEC6;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    border-radius: 15px;
    box-shadow: 0px 6px 8px 3px rgba(88, 87, 87, 0.6);
    font-family: 'Pinyon Script', cursive;
}
.welcomeButton:hover{
    background-color: #917773;
}
.welcomeButton a{
    color: #E8DEC6;
}

.welcomeButton a:link{
    text-decoration: none;
    
}
.welcomeButton a:hover{
    color: white;
}
h1{
    text-align: center;
    font-size: 40px;
}
.subtitles{
    font-size: 32px;
    /* font-family: 'Pinyon Script', cursive; */
    font-family: 'Spartan', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;
    color: rgb(88, 69, 69);
    text-shadow: .5px .5px 1px rgb(77, 72, 72);
}


    




    